.container {
    padding: 20px;
    margin-top: 150px;
  }

.itens-pedido{
    margin: 20px;
}

.button-adicionar-produto {
    margin-top: 20px;
    padding: 8px 20px;
    align-self: center;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: black;
  }
  
  .button-adicionar-produto:hover {
    background-color: #f0f0f0;
  }

  .campos{
    margin-top: 30px;
    justify-items: center;
  }

.input-field {
    border-radius: 3px;
}