.container {
    padding: 40px;
    background-color: white;
    width: fit-content;
    margin: 150px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .orderBox {
    display: block;
    justify-content: space-between;
    margin-top: 30px;
    width: 500px;
  }
  
  .orderInfo {
    margin-top: 20px;
    justify-items: center;
    flex: 1;
  }
  
  .comanda {
    font-size: 24px;
  }
  
  .table {
    width: 600px;
    font-size: 18px;
    margin-top: 5px;
  }
  
  .itemList {
    width: 400px;
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .summary {
    flex: 0.8;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .summaryRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .totalRow {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .finalizeButton {
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: black;
    margin-right: 20px;
  }
  
  .finalizeButton:hover {
    background-color: #f0f0f0;
  }

  .cancelButton {
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: black;
  }
  
  .cancelButton:hover {
    background-color: #f0f0f0;
  }

  .divider {
    justify-self: center;
    margin-top: 30px;
    width: 600px;
    border: none;
    border-top: 1px solid #aaa;
  }
  
   
  .editeButton {
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: black;
    margin-right: 20px;
  }
  
  .editeButton:hover {
    background-color: #f0f0f0;
  }

  .envieButton {
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    color: black;
    margin-right: 20px;
  }
  
  .envieButton:hover {
    background-color: #f0f0f0;
  }